body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.hero {
  padding: 90px 20px;
}

footer {
  background: #fff;
  padding: 15px;
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}


.video-section {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
}


.project-card img {
  height: 180px;
  object-fit: cover;
}
